---
import { Image } from "astro:assets";
import CurrentHomeOwners from "../../images/CurrentHomeOwners.png";
import CurrentHomeOwnersMobile from "../../images/CurrentHomeOwnersMobile.png";
import BuyWithConfidence from "../../images/BuyWithConfidence.png";
import BuyWithConfidenceMobile from "../../images/BuyWithConfidenceMobile.png";
import SweetHome from "../../images/SweetHome.png";
import SweetHomeMobile from "../../images/SweetHomeMobile.png";
import TurningPage from "../../images/TurningPage.png";
import TurningPageMobile from "../../images/TurningPageMobile.png";
---

<div class="flex items-center justify-center pt-14" id="buyers">
  <div class="w-[80%] sm:w-full px-8 sm:px-0">
    <div class="text-center py-5 flex flex-col items-center ">
      <span class="font-medium font-breeSerif sm:text-lg"
        >Your Home Management Assistant</span
      >
      <h3 class="font-normal font-neueMontreal text-center text-5xl text-primaryGreen my-6">
        What Sets Bloomsday Apart
      </h3>
      <p class="font-normal sm:px-10 md:w-3/4 text-center px-10">
        Bloomsday is dedicated to empowering you with knowledge and confidence
        throughout your entire home journey. Our unique solution supports you
        from your first steps to long after you've settled in.
      </p>
    </div>
    <div class="flex items-center py-2.5 sm:py-1 mt-8 sm:mt-4">
      <div
        class="bg-mintGreen p-5 sm:p-9 w-full flex sm:flex-col-reverse justify-between sm:justify-center items-center"
      >
        <div class="w-1/2 sm:w-full px-10 sm:px-0 ">
          <span class="font-medium font-breeSerif text-[15px] sm:text-lg"
            >Step 1: Clarify the Complicated</span
          >
          <h3
            class="sm:w-full font-normal font-neueMontreal text-4xl text-primaryGreen my-5 sm:mt-3"
          >
            Current and Aspiring Homeowners
          </h3>
          <p class="font-normal font-neueMontreal pb-5 pe-10 sm:pe-2 tracking-wide">
            Step into the world of homebuying with Bloomsday, a haven for future
            homeowners seeking guidance, knowledge, and a serene experience. Our
            zen-inspired approach invites you to explore and master the process
            at your own pace, empowering you with the wisdom and confidence to
            make your dream home a reality. Come join us, and let's walk this
            path together.
          </p>
          <button
            class="border-2 border-primaryGreen border-spacing-5 text-primaryGreen border-solid rounded-md py-2 px-5 font-medium "
            ><a href="#joinWaitlist"> Join the Waitlist </a></button
          >
        </div>
        <div class="w-1/2 sm:w-full sm:mb-10">
          <Image src={CurrentHomeOwners} alt="Frame1" class="block sm:hidden" />
          <Image src={CurrentHomeOwnersMobile} alt="Frame1" class="hidden sm:block" />
        </div>
      </div>
    </div>
    <div class="flex items-center py-2.5 sm:py-1">
      <div
        class="bg-yellowish p-5 sm:p-9 w-full flex sm:flex-col justify-between sm:justify-center items-center"
      >
        <div class="w-1/2 sm:w-full sm:pb-10">
          <Image src={BuyWithConfidence} alt="Frame2" class="block sm:hidden" />
          <Image src={BuyWithConfidenceMobile} alt="Frame2" class="hidden sm:block"/>
        </div>
        <div class="w-1/2 px-16 sm:w-full sm:px-0">
          <span class="font-medium font-breeSerif text-[15px] sm:text-lg"
            >Step 2: Act with Clarity and Certainty</span
          >
          <h3
            class="font-normal font-neueMontreal text-4xl text-primaryGreen my-5 sm:mt-3"
          >
            Buy with Confidence
          </h3>
          <p class="font-normal font-neueMontreal pb-5 tracking-wide sm:pe-2">
            Bloomsday simplifies the document chaos of homebuying, transforming
            scattered papers into organized clarity. Our platform ensures you're
            prepared and confident throughout the process, eliminating the urge
            to sign without understanding. Say goodbye to overwhelm and hello to
            a smooth, organized journey.
          </p>
          <button
            class="border-2 border-primaryGreen border-spacing-5 text-primaryGreen border-solid rounded-md py-2 px-5 font-medium"
            ><a href="#joinWaitlist"> Join the Waitlist </a></button
          >
        </div>
        <div></div>
      </div>
    </div>
    <div class="flex items-center py-2.5 sm:py-1 ">
      <div class="bg-mintGreen p-5 sm:p-9 w-full flex sm:flex-col-reverse justify-between sm:justify-center items-center">
        <div class="w-1/2 sm:w-full p-16 sm:p-0 ">
          <span class="font-medium font-breeSerif text-[15px] sm:text-lg "
            >Step 3: Build a Digital Library of Your Home Records</span
          >
          <h3
            class="font-normal font-neueMontreal text-4xl text-primaryGreen my-5 sm:mt-3"
          >
            Home Sweet Home
          </h3>
          <p class="font-normal font-neueMontreal pb-5 tracking-wide">
            Bloomsday is your partner even after you finally get the keys
            to your dream home. Our secure document storage and organization
            features create a personalized hub where you can easily access
            everything you need, from appliance warranties and paint colors to
            remodeling plans and essential documents like insurance policies,
            deeds, and property taxes.
          </p>
          <button
            class="border-2 border-primaryGreen border-spacing-5 text-primaryGreen border-solid rounded-md py-2 px-5 font-medium mb-10"
          >
            <a href="#joinWaitlist"> Join the Waitlist </a></button
          >
        </div>
        <div class="w-1/2 sm:w-full sm:pb-10">
          <div class="">
            <Image src={SweetHome} alt="Frame3" class="block sm:hidden" />
            <Image src={SweetHomeMobile} alt="Frame3" class="hidden sm:block" />
          </div>
        </div>
      </div>
    </div>
    <div class="flex items-center py-2.5 sm:pb-0 sm:py-1">
      <div
        class="bg-yellowish p-5 sm:p-9 w-full flex sm:flex-col justify-between sm:justify-center items-center relative"
      >
        <div class="w-1/2 sm:w-full sm:pb-10">
          <Image src={TurningPage} alt="Frame5 " class="block sm:hidden"/>
          <Image src={TurningPageMobile} alt="Frame5 " class="hidden sm:block" />
        </div>
        <div class="w-1/2 p-16 sm:w-full sm:p-0">
          <span class="font-medium font-breeSerif text-[15px] sm:text-lg"
            >Beyond: Every Home Has a Story</span
          >
          <h3
            class="font-normal font-neueMontreal text-4xl text-primaryGreen my-5 sm:mt-3"
          >
            Turning the Page
          </h3>
          <p class="font-normal font-neueMontreal pb-5 tracking-wide">
            When it's time to sell your home, whether planned or unexpected,
            Bloomsday ensures you're prepared and organized. Storing your home's
            essential records on our platform cultivates a seamless selling
            experience, impressing your real estate agent and providing valuable
            history to the new owners, strengthening their bond with the home
            you once cherished.
          </p>
          <button
            class="border-2 border-primaryGreen border-spacing-5 text-primaryGreen border-solid rounded-md py-2 px-5 font-medium sm:mb-3"
            ><a href="#joinWaitlist"> Join the Waitlist </a></button
          >
        </div>
      </div>
    </div>
  </div>
</div>
